@using SHUNetMVC.Abstraction.Model.View
@using Newtonsoft.Json
@model GridListModel


<div class="filter-container">
    @Html.Partial("Component/Grid/_GridHeader")
    @Html.Partial("Component/Grid/_FilterApplied")
</div>

<div class="table-responsive" style="overflow-x:scroll;overflow-y:scroll;margin-bottom:30px">
    <table class="table table-hover">
        @Html.Partial("Component/Grid/_THead")
        <tbody>
            @if (Model.FilterList.IsForLookup)
            {
                @Html.Partial("Component/Grid/GridRows_Lookup")
            }
            else
            {
                @Html.Partial("Component/Grid/GridRows_Crud")
            }
        </tbody>
    </table>
</div>
@Html.Partial("Component/Grid/_GridFooter")



