@model SHUNetMVC.Abstraction.Model.View.LookupList

@{
    var i = 0;
    var columnId = Model.ColumnId;
    var inputSelectAllId = $"{columnId}-all";
}
<div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="@inputSelectAllId" onchange="adaptiveFilter.selectAll(this)">
        <label class="form-check-label fw-semibold" for="@inputSelectAllId">
            Select all
        </label>
    </div>

    <div class="form-check-list">
        @foreach (var item in Model.Items)
        {
            var inputId = $"{columnId}-{i++}";
            <div class="form-check">
                @if (string.IsNullOrWhiteSpace(item.Text))
                {
                    <input class="form-check-input" type="checkbox" value="" id="@inputId">
                    <label class="form-check-label text-muted" for="@inputId">[Empty]</label>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" value="@item.Value" id="@inputId">
                    <label class="form-check-label" for="@inputId">@item.Text</label>
                }


            </div>
        }
    </div>
</div>
