@using SHUNetMVC.Abstraction.Model.View
@using Newtonsoft.Json
@model GridListModel

<div class="filter-section">
    <div class="d-flex">
        @*<div class="dropdown ms-2">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Actions
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="@(Model.GridJsVar).downloadSpreadsheet()"><i class="fa fa-regular fa-file-excel"></i>Export To Spreadsheet</a>
            </div>
        </div>*@
    </div>
    <div class="d-flex align-items-center">
        <button class="btn btn-secondary" onclick="@(Model.GridJsVar).showQuickFindDialog()"><i class="fa fa-magnifying-glass"></i></button>
        <button class="btn btn-secondary btn-square ms-2" data-bs-toggle="collapse" data-bs-target="#@(Model.GridId)_advanceSearchSection"><i class="fa fa-caret-down"></i></button>
    </div>


    </div>

    <div class="collapse" id="@(Model.GridId)_advanceSearchSection">
        <div class="d-flex justify-content-between flex-column flex-lg-row advance-search">
            <div id="operationSection">
                <div class="row g-0 align-items-center mt-3" id="newSearchSection">
                    @{
                        var colOptionsHtml = "";
                        foreach (var column in Model.ColumnDefinitions.Where(o => o.Type != ColumnType.Id))
                        {
                            colOptionsHtml += "<option value='{\\\"columnId\\\": \\\"" + column.Id + "\\\", \\\"columnType\\\": \\\"" + column.Type + "\\\"}'>" + column.Name + "</option>";
                        }
                    }
                    <div class="col-10 col-sm-11 pe-2 pt-1 pb-1">
                        <button class="btn btn-primary new-condition-btn" style="width:100%;" disabled>Add new search condition</button>
                    </div>
                    <div class="col-2 col-sm-1 ps-2 pt-1 pb-1">
                        <button class="btn btn-primary btn-square" onclick='@(Model.GridJsVar).advanceSearchFilter.addAdvanceSearch("@colOptionsHtml")'><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between justify-content-lg-end align-items-lg-start align-items-end" style="gap:1em">
                <button class="btn btn-secondary btn-square reset-btn" onclick="@(Model.GridJsVar).advanceSearchFilter.clearAll()">Reset</button>
                <button class="btn btn-primary btn-square text-nowrap search-btn" onclick="@(Model.GridJsVar).advanceSearchFilter.submit()">Search &emsp;<i class="fa fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
